.sent-msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing-msg { 
    overflow:hidden; 
    margin:26px 0 26px;
}
.sent-msg {
    float: right;
    width: 46%;
}

.time-date {
    color: #747474;
    display: block;
    font-size: 12px;
    line-height: 1.3rem;
    margin-bottom: 12px;
}

.msg-info {
    display: flex;
    justify-content: space-between;
}

.msg-actions {
    display: flex;
}

.msg-delete {
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
}

.msg-delete i {
    vertical-align: text-top;
}

.msg-edit {
    font-size: 1rem;
    display: none;
    cursor: pointer;
}

.outgoing-msg:hover .msg-edit {
    display: block;
}